.img-fluid {
    width: 100%;
    height: 100px;
}
.event-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex-grow: 1;
}

.event-card-title {
    font-weight: bold;
}

.event-card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.event-card-footer {
    margin-top: 10px;
}

.event-card-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-title {
    font-weight: bold;
    margin: 20px 0;
}

.modal-header {
    border: none;
    padding: 1rem 1rem 0 0;
}

.modal-dialog {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 26vw;
    width: 60vw;
}

.modal-content {
    width: 200%;
    margin-left: -18vw;
}

.comments {
    height: 40vw;
    overflow-y: scroll;
}

.create,
.edit {
    margin-left: -5vw;
}
